<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lx.auth" >
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.INTERNET" />
<application>
    <provider
        android:name="com.lx.auth.InitContentProvider"
        android:exported="false"
        android:authorities="${applicationId}.InitContentProvider" />

</application>
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
